<div class="container">
    <div class="row border mt-5" *ngFor="let h of listHoaDon ">
        <div class="row">
            <div class="mt-3 col-8">
                <h3 class="ms-3" >Hóa đơn: {{h.maHoaDon}}</h3>
            </div>
            <div class="mt-3 col-4">
                <h3 >Trạng thái: Đã hủy | {{h.ngayCapNhat}}</h3>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2">
                <h3>Phí vận chuyển:</h3>
                <h3>Tổng tiền:</h3>
            </div>
            <div class="col-2">
                <h3>{{h.phiVanChuyen| currency:'VND'}}</h3>
                <h3>{{h.tongTienSauGiam+h.phiVanChuyen| currency:'VND'}}</h3>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row mb-4 mt-2">
            <div class="col-8">
                <button class="btn btn-info ms-3 " (click)="openDialog(h)">Chi tiết đơn hàng</button>
            </div>

        </div>
    </div>
</div>
