<div class="p-4">
  <p-tabView>
    <p-tabPanel header="Thống kê hóa đơn">
      <app-Orders></app-Orders>
    </p-tabPanel>
    <p-tabPanel header="Thống kê theo ngày">
      <app-ForDate></app-ForDate>
    </p-tabPanel>
    <p-tabPanel header="Thống kê theo Danh mục">
      <app-ForCategory></app-ForCategory>
    </p-tabPanel>
    <p-tabPanel header="Thống kê theo Sản phẩm">
      <app-ForProduct></app-ForProduct>
    </p-tabPanel>
  </p-tabView>
</div>

<!-- <div class="container-fluid">
  <h3>DashBoard</h3>
  <div class="row">
    <div class="col-sm-8">
      <div class="card p-2">
        <div class="header-p-char my-2">
          <span (click)="doanhThuWeek()">week</span>
          <span (click)="doanhThuMonth()">month</span>
          <span (click)="doanhThu6month()">6 month</span>
          <span (click)="doanhThuYear()">year</span>
          <input type="date" [(ngModel)]="paramDate.startDate" name="startDate">
          <input type="date" [(ngModel)]="paramDate.endDate" name="endDate">
          <span (click)="doanhThuForDate()">Search</span>
        </div>
        <p-chart type="bar" [data]="data" [options]="options"></p-chart>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card p-2">
        <div class="card-header">
          <h5 class="card-title">Lifetime Sales</h5>
          <ul>
            <li>{{ totalOrder }} orders</li>
            <li>{{ totalMoney }} money</li>
            <li>{{ percentOrderComplete }} orders</li>
            <li>{{ percentOrderCancel }} orders</li>
          </ul>
        </div>
        <div class="card-body">
          <p-chart type="pie" [data]="dataOrder" [options]="optionsOrder"></p-chart>
        </div>
      </div>
    </div>
    <div class="col-sm-8 mt-3">
      <div class="card p-2">
        <table>
          <thead style="height: 30px">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Image</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of products">
              <td>{{ p.id }}</td>
              <td>{{ p.name }}</td>
              <td>
                <img src="{{ p.image }}" width="100rem" />
              </td>
              <td>{{ p.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->