<span class="p-input-icon-left">
  <i class="pi pi-search"></i>
  <input type="text" pInputText [(ngModel)]="searchQuery.keyword" />
  <p-dropdown [options]="listTotalPage" [(ngModel)]="searchQuery.page" optionLabel="name"></p-dropdown>
</span>
<button mat-button (click)="openDialog()">Open dialog</button>

<div class="card">
  <p-table [value]="colors" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 30%">STT</th>
        <th (click)="sortByName()" style="width: 40%; cursor: pointer">
          Tên <i [ngClass]="iconSortName"></i>
        </th>
        <th style="width: 30%">Trạng thái</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-color let-rowIndex="rowIndex">
      <tr>
        <td>
          {{
          colors.indexOf(color) +
          1 +
          searchQuery.pageSize * (searchQuery.page - 1)
          }}
        </td>
        <td>{{ color.ten }}</td>
        <td>{{ color.trangThai }}</td>
        <td>
          <span (click)="openDialogEdit(color)">
            <i class="pi pi-file-edit"></i>
          </span>
          <span (click)="openDialogDelete(color)">
            <i class="pi pi-delete-left"></i>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div>
    <div class="d-flex justify-content-end gap-1">
      <div class="button-pagination" (click)="getAll( 'prev')">
        <i class="pi pi-angle-left"></i>
      </div>
      <div class="button-pagination" (click)="getAll( 'next')">
        <i class="pi pi-angle-right"></i>
      </div>
    </div>
  </div>
</div>