<div class="d-flex justify-content-between">
    <h2 mat-dialog-title>
        Sản phẩm
    </h2>
    <div mat-dialog-title mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>
<ng-container *ngIf="type && type==='add'">
    <mat-dialog-content class="mat-typography">
        <div class="container-fluid">
          <form [formGroup]="productForm" class="row">
            <div class="col">

              <div class="col-6">
                <mat-form-field class="example-form-field">
                  <mat-label>Tên</mat-label>
                  <input matInput type="text" formControlName="ten">
                  <mat-error
                      *ngIf="productForm.get('ten').invalid && (productForm.get('ten').dirty || productForm.get('ten').touched)">
                      Tên không được để trống</mat-error>
                  <button *ngIf="productForm.get('ten').value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="productForm.get('ten').setValue('')">
                      <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field class="example-form-field">
                  <mat-label>Mô Tả</mat-label>
                  <textarea matInput type="text" formControlName="moTa" rows="5"></textarea>
                  <mat-error
                      *ngIf="productForm.get('moTa').invalid && (productForm.get('moTa').dirty || productForm.get('ten').touched)">
                      Mô Tả không được để trống</mat-error>
                  <button *ngIf="productForm.get('moTa').value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="productForm.get('moTa').setValue('')">
                      <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>
              </div>


          <div class="col-6">
            <label>Image</label>
                    <input type="file" (change)="onFileChange($event)" multiple>
                    <div>
                        <img [src]="uploadedUrl" style="width: 200px; height: auto">
                    </div>
        </div>

            </div>
              <div class="col">
                <mat-form-field class="example-form-field">
                  <mat-label>Danh mục</mat-label>
                  <mat-select formControlName="danhMuc">
                      <mat-option *ngFor="let category of data.categories"
                          [value]="category.id">{{category.ten}}</mat-option>
                  </mat-select>
                  <mat-error
                      *ngIf="productForm.get('danhMuc').hasError('required') && (productForm.get('danhMuc').dirty || productForm.get('danhMuc').touched)">
                      Vui lòng chọn danh mục
                  </mat-error>
              </mat-form-field>


              <mat-form-field class="example-form-field">
                <mat-label>Thương hiệu</mat-label>
                <mat-select formControlName="thuongHieu">
                    <mat-option *ngFor="let brands of data.brands" [value]="brands.id">{{brands.ten}}</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="productForm.get('thuongHieu').hasError('required') && (productForm.get('thuongHieu').dirty || productForm.get('thuongHieu').touched)">
                    Vui lòng chọn thương hiệu
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Xuất xứ</mat-label>
              <mat-select formControlName="xuatXu">
                  <mat-option *ngFor="let origins of data.origins"
                      [value]="origins.id">{{origins.ten}}</mat-option>
              </mat-select>
              <mat-error
                  *ngIf="productForm.get('xuatXu').hasError('required') && (productForm.get('xuatXu').dirty || productForm.get('xuatXu').touched)">
                  Vui lòng chọn xuất xứ
              </mat-error>
          </mat-form-field>


        <mat-form-field class="example-form-field">
          <mat-label>Chọn trạng thái</mat-label>
          <mat-select formControlName="trangThai">
              <mat-option [value]="1">Hoạt động</mat-option>
              <mat-option [value]="0">Không Hoạt động</mat-option>
          </mat-select>
          <div
              *ngIf="productForm.get('trangThai').hasError('required') && (productForm.get('trangThai').dirty || productForm.get('trangThai').touched)">
              Vui lòng chọn trạng thái
          </div>
      </mat-form-field>
              </div>


          </form>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <ng-container *ngIf="type&&type=== 'add'">
            <button mat-button (click)="addProduct()" [disabled]="!productForm.valid">Xác nhận add</button>
        </ng-container>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="type &&  type==='update'">
    <mat-dialog-content class="mat-typography">
        <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <div class="col-6">
                    <mat-form-field class="example-form-field">
                      <mat-label>Tên</mat-label>
                      <input matInput type="text" [(ngModel)]="product.ten">
                      <button *ngIf="product.ten" matSuffix mat-icon-button aria-label="Clear" (click)="product.ten=''">
                          <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
                  </div>
<div class="col-6">
  <mat-form-field class="example-form-field">
    <mat-label>Mô Tả</mat-label>
    <textarea matInput  [(ngModel)]="product.moTa"  rows="8"></textarea>
    <button *ngIf="product.moTa" matSuffix mat-icon-button aria-label="Clear" (click)="product.moTa=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
</div>

            <div>
            <mat-label>Ảnh chính</mat-label>
            <img *ngIf="!uploadedUrl && product.anhChinh" [src]="product.anhChinh" alt="Product Image"
                style="width: 50px; height: auto;">

            <!-- Hiển thị hình ảnh đã tải lên nếu có -->
            <div *ngIf="uploadedUrl">
                <h4>Ảnh đã tải lên</h4>
                <img [src]="uploadedUrl" alt="Uploaded Image" style="width: 50px; height: auto;">
            </div>
 

            <input type="file" (change)="onFileChange($event)" accept="image/*" />
          </div>
</div>
        <div class="col">
          <mat-form-field class="example-form-field">
            <mat-label>Danh mục</mat-label>
            <mat-select [(ngModel)]="selectedCategoryId">
                <!-- <mat-select [(ngModel)]="product.danhMuc"> -->
                <mat-option *ngFor="let category of data.categories"
                    [value]="category.id">{{category.ten}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Thương hiệu</mat-label>
          <mat-select [(ngModel)]="selectedBrandId">
              <!-- <mat-select [(ngModel)]="product.thuongHieu"> -->
              <mat-option *ngFor="let brand of data.brands" [value]="brand.id">{{brand.ten}}</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Xuất xứ</mat-label>
        <!-- <mat-select [(ngModel)]="product.xuatXu"> -->
        <mat-select [(ngModel)]="selectedOriginId">

            <mat-option *ngFor="let origin of data.origins" [value]="origin.id">{{origin.ten}}</mat-option>

        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chọn trạng thái</mat-label>
      <mat-select [(ngModel)]="product.trangThai">
          <mat-option [value]="1">Hoạt động</mat-option>
          <mat-option [value]="0">Ngưng Hoạt động</mat-option>
      </mat-select>
  </mat-form-field>
        </div>

          </div>
            <!-- Hiển thị hình ảnh xem trước từ tệp đã chọn nếu có -->
            <!-- <div *ngIf="!uploadedUrl && uploadedUrl">
                <h4>Ảnh xem trước</h4>
                <img [src]="uploadedUrl" alt="Preview Image" style="width: 50px; height: auto;">
            </div> -->
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <ng-container *ngIf="type=== 'update'">
            <button mat-button (click)="updateProduct()">Xác nhận update</button>
        </ng-container>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="type==='delete'">
    <mat-dialog-content>
        <h1>Bạn xác nhận xóa !</h1>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="deleteProduct()">Xác nhận</button>
        <button mat-button mat-dialog-close>Hủy</button>
    </mat-dialog-actions>
</ng-container>
