.button-pagination {
    border: 1px solid rgb(210, 203, 203);
    padding: 5px;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 22px;
    }
}

.shorten-text {
    max-width: 200px;
    max-height: 150px;
    /* Đặt chiều rộng tối đa cho đoạn văn bản */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm (...) nếu văn bản vượt quá chiều rộng */
    white-space: nowrap;
    /* Ngăn chặn quá trình xuống dòng */
}