<div class="d-flex justify-content-between">
  <h2 mat-dialog-title>Xuất xứ</h2>
  <div mat-dialog-title mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
<ng-container *ngIf="(type && type === 'add') || type === 'update'">
  <mat-dialog-content class="mat-typography">
    <form  [formGroup]="originForm" class="container-fluid">
      <mat-form-field class="example-form-field">
        <mat-label>Tên</mat-label>
        <input matInput type="text" formControlName="ten" />
        <mat-error *ngIf="originForm.get('ten')!.hasError('required')">Tên là bắt buộc</mat-error>
        <mat-error *ngIf="originForm.get('ten')!.hasError('minlength')">Ít nhất 3 ký tự</mat-error>
        <button *ngIf="originForm.get('ten')!.value" matSuffix mat-icon-button aria-label="Clear" (click)="originForm.get('ten')!.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Chọn trạng thái</mat-label>
        <mat-select formControlName="trangThai">
          <mat-option [value]="1">Hoạt động</mat-option>
          <mat-option [value]="0">Ngưng Hoạt động</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf="type && type === 'add'">
      <button mat-button (click)="addOrigin()" [disabled]="originForm.invalid">Xác nhận add</button>
    </ng-container>
    <ng-container *ngIf="type === 'update'">
      <button mat-button (click)="updateOrigin()" [disabled]="originForm.invalid">Xác nhận update</button>
    </ng-container>
  </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="type === 'delete'">
  <mat-dialog-content>
    <h1>Bạn xác nhận xóa !</h1>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="deleteOrigin()">Xác nhận</button>
    <button mat-button mat-dialog-close>Hủy</button>
  </mat-dialog-actions>
</ng-container>
