<main style="margin-bottom: 200px">
  <div class="row">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <ng-container *ngIf="product">
      <div class="col-sm-6">
        <div class="cards">
          <img class="card-img-top" src="{{product.anhChinh}}" alt="logo" />
        </div>
      </div>
      <div class="col-sm-6">
        <form (submit)="addToCart()">
          <h1>{{ product.ten }}</h1>
          <ul>
            <li><b>Xuất xứ</b>: {{ product.xuatXu.ten }}</li>
            <li><b>Thương Hiệu</b>: {{ product.thuongHieu.ten }}</li>
          </ul>
          <h3>Giá: {{priceProduct}}</h3>
          <input type="number" min="1" max="50" value="1" [(ngModel)]="quantity" name="quantity" class="form-control"
            style="width: 80px" />

          <div class="size my-3">
            <ng-container *ngFor="let kichCo of kichCos">
              <button type="button" class="btn btn-outline-dark me-2" (click)="getKichCo(kichCo)"
                [class.selectedBtn]="query?.size?.id === kichCo.id"
                [disabled]="!isSelectedSize(kichCo.id)">
                {{ kichCo.size }}
              </button>
            </ng-container>
          </div>
          <div class="color">
            <button type="button" class="btn btn-outline-dark me-2 mb-1" *ngFor="let m of mauSacs"
              (click)="getMauSac(m)" [class.selectedBtnColor]="query.color?.id === m.id"
              [disabled]="!isSelectedColor(m.id)">
              {{ m.ten }}
            </button>
          </div>
          <div class="color">
            <button type="button" class="btn btn-outline-dark me-2 mb-1" *ngFor="let g of chatLieuGiays"
              (click)="getChatLieu(g)" [class.selectedBtnColor]="query.shoe_material?.id === g.id"
              [disabled]="!isSelectedMaterial(g.id)">
              {{ g.ten }}
            </button>
          </div>
          <div class="">
            <button type="button" class="btn btn-outline-dark me-2 mb-1" *ngFor="let dg of chatLieuDeGiays"
              (click)="getChatLieuDe(dg)" [class.selectedBtnColor]="query.shoe_sole_material?.id === dg.id"
              [disabled]="!isSelectedMaterialSole(dg.id)">
              {{ dg.ten }}
            </button>
          </div>


          <button class="btn btn-outline-dark w-100 mt-3" type="submit">
            Add to cart
          </button>
          <span class="text-danger" *ngIf="errorSelected">
            {{ errorSelected }}
          </span>
          <div class="mt-5">
            {{ product.moTa }}
          </div>
        </form>
      </div>
    </ng-container>
  </div>

</main>