<div class="d-flex justify-content-between">
  <h2 mat-dialog-title>
      Sản phẩm Chi Tiết
  </h2>
  <div mat-dialog-title mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
<ng-container *ngIf="(type && type==='add' )|| type==='' ">
  <mat-dialog-content class="mat-typography">
      <div class="container-fluid">
          <form [formGroup]="productDetailForm" class="row">
            <!-- cột đầu  -->
              <div class="col">
                  <div class="col-6">
                    <mat-form-field class="example-form-field">
                      <mat-label>Sản Phẩm</mat-label>
                      <mat-select formControlName ="sanPham">
                          <ng-container *ngFor="let products of data.products">
                          <mat-option *ngIf="products.trangThai===1"
                                     [value]="products.id" >{{products.ten}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error
                          *ngIf="productDetailForm?.get('sanPham')?.hasError('required') && (productDetailForm?.get('sanPham')?.dirty || productDetailForm?.get('sanPham')?.touched)">
                          Vui lòng chọn sản phẩm
                      </mat-error>
                  </mat-form-field>
                  </div>
                    <div class="col-6">
                      <mat-form-field class="example-form-field">
                        <mat-label>Số lượng</mat-label>
                        <input matInput type="text" formControlName="soLuong">
                        <mat-error
                            *ngIf="(productDetailForm?.get('soLuong')?.hasError('required') || productDetailForm?.get('soLuong')?.hasError('pattern'))
                            && (productDetailForm?.get('soLuong')?.dirty || productDetailForm?.get('soLuong')?.touched)">

                  <ng-container *ngIf="productDetailForm?.get('soLuong')?.hasError('pattern')">
                    Số lượng không đúng định dạng
                  </ng-container>
                    <ng-container *ngIf="productDetailForm?.get('soLuong')?.hasError('required')">
                     Số lượng không được để trống
                    </ng-container>

                          </mat-error>
                        <button *ngIf="productDetailForm?.get('soLuong')?.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="productDetailForm.get('soLuong')?.setValue('')">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-form-field">
                      <mat-label>Giá Bán</mat-label>
                      <input matInput type="text" formControlName="giaBan" (blur)="formatGiaBanInput"  />

                      <mat-error *ngIf="(productDetailForm?.get('giaBan')?.hasError('required') || productDetailForm?.get('giaBan')?.hasError('pattern'))
                      || productDetailForm?.get('giaBan')?.hasError('min')
                       && (productDetailForm?.get('giaBan')?.dirty || productDetailForm?.get('giaBan')?.touched)">
                         <ng-container *ngIf="productDetailForm?.get('giaBan')?.hasError('pattern')">
                          Giá phải đúng định dạng
                        </ng-container>
                      <ng-container *ngIf="productDetailForm?.get('giaBan')?.hasError('min')">
                        Giá tiền phải từ 4 chữ số trở lên
                      </ng-container>
                        <ng-container *ngIf="productDetailForm?.get('giaBan')?.hasError('required')">
                          Giá không được để trống
                      </ng-container>
                        </mat-error>
                      <button *ngIf="productDetailForm?.get('giaBan')?.value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="productDetailForm.get('giaBan')?.setValue('')">
                          <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
                </div>
                  <div class="col-6">
                    <label>Hình ảnh</label>
                    <input type="file" formControlName="anhSanPhams" (change)="onFileChange($event)" multiple />

                    <div *ngIf="validUrls.length > 0">
                      <div *ngFor="let url of validUrls; let i = index">
                        <img [src]="url" style="width: 100px; height: auto" />
                      </div>
                    </div>
                  </div>

              </div>
              <div class="col">
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Kích Cỡ</mat-label>
                    <mat-select formControlName="kichCo">
                    <ng-container *ngFor=" let sizes of data.sizes">

                        <mat-option *ngIf="sizes.trangThai===1"
                            [value]="sizes.id">{{sizes.size}}</mat-option>
                    </ng-container>
                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('kichCo')?.hasError('required') && (productDetailForm?.get('kichCo')?.dirty || productDetailForm?.get('kichCo')?.touched)">
                        Vui lòng chọn kích cỡ
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Màu Sắc</mat-label>
                    <mat-select formControlName="mauSac">
                      <ng-container *ngFor="let colors of data.colors">
                        <mat-option *ngIf="colors.trangThai===1"
                            [value]="colors.id">{{colors.ten}}
                          </mat-option>
                          </ng-container>
                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('mauSac')?.hasError('required') && (productDetailForm?.get('mauSac')?.dirty || productDetailForm?.get('mauSac')?.touched)">
                        Vui lòng chọn màu sắc
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Chất Liệu Giày</mat-label>
                    <mat-select formControlName="chatLieuGiay">

                      <ng-container *ngFor="let shoeMaterials of data.shoeMaterials">
                        <mat-option *ngIf="shoeMaterials.trangThai===1"
                            [value]="shoeMaterials.id">{{shoeMaterials.ten}}
                          </mat-option>
                          </ng-container>

                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('chatLieuGiay')?.hasError('required') && (productDetailForm?.get('chatLieuGiay')?.dirty || productDetailForm?.get('chatLieuGiay')?.touched)">
                        Vui lòng chọn chất liệu   giày
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Chất Liệu Đế giày</mat-label>
                    <mat-select formControlName="chatLieuDeGiay">
                      <ng-container *ngFor="let shoeSoleMaterials of data.shoeSoleMaterials">
                        <mat-option *ngIf="shoeSoleMaterials.trangThai===1"
                            [value]="shoeSoleMaterials.id">{{shoeSoleMaterials.ten}}</mat-option>
                          </ng-container>
                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('chatLieuDeGiay')?.hasError('required') && (productDetailForm?.get('chatLieuDeGiay')?.dirty || productDetailForm?.get('chatLieuDeGiay')?.touched)">
                        Vui lòng chọn chất liệu đế
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Chọn trạng thái</mat-label>
                    <mat-select formControlName="trangThai">
                        <mat-option [value]="1">Hoạt động</mat-option>
                        <mat-option [value]="0">Không Hoạt động</mat-option>
                    </mat-select>
                    <div
                        *ngIf="productDetailForm?.get('trangThai')?.hasError('required') && (productDetailForm?.get('trangThai')?.dirty || productDetailForm?.get('trangThai')?.touched)">
                        Vui lòng chọn trạng thái
                    </div>
                </mat-form-field>

                </div>
              </div>
          </form>

      </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf=" type=== 'add'">
        <button mat-button (click)="addProduct()" [disabled]="!productDetailForm.valid">Xác nhận add</button>
    </ng-container>
    <!-- <ng-container *ngIf="type === 'update'">
      <button mat-button (click)="updateProduct()" [disabled]="productDetailForm.invalid">Xác nhận update</button>
    </ng-container> -->
</mat-dialog-actions>
</ng-container>
<ng-container *ngIf="type==='delete'">
  <mat-dialog-content>
      <h1>Bạn xác nhận xóa !</h1>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-button (click)="deleteProduct()">Xác nhận</button>
      <button mat-button mat-dialog-close>Hủy</button>
  </mat-dialog-actions>
</ng-container>


<!-- update -->
<ng-container *ngIf="type && type==='update'">
  <mat-dialog-content class="mat-typography">
      <div class="container-fluid">
          <form [formGroup]="productDetailForm" class="row">
            <!-- cột đầu  -->
              <div class="col">
                  <div class="col-6">
                    <mat-form-field class="example-form-field">
                      <mat-label>Sản Phẩm</mat-label>
                      <mat-select formControlName="sanPham" name="sanPham">
                          <mat-option *ngFor="let product of data.products"
                              [value]="product.id">{{product.ten}}</mat-option>
                      </mat-select>
                      <mat-error
                          *ngIf="productDetailForm?.get('sanPham')?.hasError('required') && (productDetailForm?.get('sanPham')?.dirty || productDetailForm?.get('sanPham')?.touched)">
                          Vui lòng chọn sản phẩm
                      </mat-error>
                  </mat-form-field>
                  </div>
                     <div class="col-6">
                      <mat-form-field class="example-form-field">
                        <mat-label>Số lượng</mat-label>
                        <input matInput type="number" formControlName="soLuong" name="soLuong">
                        <mat-error *ngIf="productDetailForm?.get('soLuong')?.hasError('required')
                        && (productDetailForm?.get('soLuong')?.dirty || productDetailForm?.get('soLuong')?.touched)">
                          Số lượng không được để trống
                        </mat-error>
                        <mat-error *ngIf="productDetailForm?.get('soLuong')?.hasError('pattern') && (productDetailForm?.get('soLuong')?.dirty || productDetailForm?.get('soLuong')?.touched)">
                          Số lượng không hợp lệ
                        </mat-error>
                            <button *ngIf="productDetail.soLuong" matSuffix mat-icon-button aria-label="Clear" (click)="productDetail.soLuong=''">
                              <mat-icon>close</mat-icon>
                          </button>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-form-field">
                      <mat-label>Giá Bán</mat-label>
                      <input matInput type="text" formControlName="giaBan">
                      <mat-error
                          *ngIf="productDetailForm?.get('giaBan')?.invalid && (productDetailForm?.get('giaBan')?.dirty || productDetailForm?.get('giaBan')?.touched)">
                          Tên không được để trống</mat-error>
                          <button *ngIf="productDetail.giaBan" matSuffix mat-icon-button aria-label="Clear" (click)="productDetail.giaBan=''">
                            <mat-icon>close</mat-icon>
                        </button>
                  </mat-form-field>
                </div>
                  <div class="col-6">

                    <div *ngIf="!validUrls && productDetail.anhSanPhams.length > 0" >
                      <mat-label>Ảnh chính</mat-label>
                      <div *ngFor="let imageUrl of productDetail.anhSanPhams">
            <img formControlName="anhSanPhams" [src]="imageUrl.ten" alt="Product Image"
                style="width: 50px; height: auto;">
              </div>
              </div>

            <div *ngIf="validUrls">
                <h4>Ảnh đã tải lên</h4>
                <img [src]="validUrls" formControlName="anhSanPhams" alt="Uploaded Image" style="width: 50px; height: auto;">
            </div>


            <input type="file" formControlName="anhSanPhams" (change)="onFileChange($event)" accept="image/*" multiple />

                  </div>

              </div>
            <div class="col">
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Kích Cỡ</mat-label>
                    <mat-select formControlName="kichCo">
                        <mat-option *ngFor=" let size of data.sizes"
                            [value]="size.id">{{size.size}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('kichCo')?.hasError('required') && (productDetailForm?.get('kichCo')?.dirty || productDetailForm?.get('kichCo')?.touched)">
                        Vui lòng chọn sản phẩm
                    </mat-error>
                </mat-form-field>
                </div>
                 <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Màu Sắc</mat-label>
                    <mat-select  formControlName="mauSac">
                        <mat-option *ngFor="let color of data.colors"
                            [value]="color.id">{{color.ten}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('mauSac')?.hasError('required') && (productDetailForm?.get('mauSac')?.dirty || productDetailForm?.get('mauSac')?.touched)">
                        Vui lòng chọn sản phẩm
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Chất Liệu Giày</mat-label>
                    <mat-select  formControlName="chatLieuGiay">
                        <mat-option *ngFor="let shoeMaterial of data.shoeMaterials"
                            [value]="shoeMaterial.id">{{shoeMaterial.ten}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('chatLieuGiay')?.hasError('required') && (productDetailForm?.get('chatLieuGiay')?.dirty || productDetailForm?.get('chatLieuGiay')?.touched)">
                        Vui lòng chọn chất liệu đế giày
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Chất Liệu Đế giày</mat-label>
                    <mat-select   formControlName="chatLieuDeGiay">
                        <mat-option *ngFor="let shoeSoleMaterial of data.shoeSoleMaterials"
                            [value]="shoeSoleMaterial.id">{{shoeSoleMaterial.ten}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="productDetailForm?.get('chatLieuDeGiay')?.hasError('required') && (productDetailForm?.get('chatLieuDeGiay')?.dirty || productDetailForm?.get('chatLieuDeGiay')?.touched)">
                        Vui lòng chọn chất liệu đế
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-form-field">
                    <mat-label>Chọn trạng thái</mat-label>
                    <mat-select  formControlName="trangThai">
                        <mat-option [value]="1">Hoạt động</mat-option>
                        <mat-option [value]="0">Không Hoạt động</mat-option>
                    </mat-select>
                    <div
                        *ngIf="productDetailForm?.get('trangThai')?.hasError('required') && (productDetailForm?.get('trangThai')?.dirty || productDetailForm?.get('trangThai')?.touched)">
                        Vui lòng chọn trạng thái
                    </div>
                </mat-form-field>

                </div>
              </div>
          </form>

      </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf="type && type=== 'update'">
        <button mat-button (click)="updateProduct()" [disabled]="!productDetailForm.valid">Xác nhận update</button>
    </ng-container>
</mat-dialog-actions>
</ng-container>








