<main>
    <div class="container-fluid">
        <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        <h1 class="mt-5">Giỏ hàng</h1>
        <div class="content">
            <div class="cards">
                <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem', }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                            <input type="checkbox" name="allCheckbox" id="allCheckbox"  (click)="toggleChecked(1)">
                            </th>
                            <th>Sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Số lượng </th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr *ngFor="let c of listCart">
                            <td>
                                <input type="checkbox"
                                name="someCheckbox"
                                id="someCheckbox"
                                [checked]="isChecked(1)"
                                (change)="onCheckboxChange($event, c.id)"
                                value="{{c.id}}">
                            </td>
                            <td>
                                <div class="table-product-detail">
                                    <img class="table-image" *ngIf="c.chiTietSanPham.anhSanPhams[0]?.ten" src="{{c.chiTietSanPham.anhSanPhams[0].ten}}"
                                        alt="">
                                    <div>
                                        <p>{{c.chiTietSanPham.sanPham.ten}}</p>
                                        <p>{{c.chiTietSanPham.ma}}</p>
                                        <p>{{c.chiTietSanPham.kichCo.size}}</p>
                                        <p>{{c.chiTietSanPham.mauSac.ten}}</p>
                                        <p>{{c.chiTietSanPham.chatLieuGiay.ten}}</p>
                                        <p>{{c.chiTietSanPham.chatLieuDeGiay.ten}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{ c.chiTietSanPham.giaBan| currency:'VND' }}</td>
                            <td>
                                <input type="number" value="{{c.soLuong}}" (blur)="updateQuantity($event,c.id)" min="0" style="width: 70px;">
                            </td>

                            <td>{{ c.chiTietSanPham.giaBan * c.soLuong| currency:'VND' }}</td>
                            <td>
                                <span (click)="deleteCart(c.id)">
                                    <i class="pi pi-delete-left"></i>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div>
                <h3>Tổng tiền:  {{tongTien| currency:'VND'}}</h3>
                <button (click)="checkout()">Thanh toán</button>
            </div>

        </div>
    </div>
</main>
