<div class="d-flex justify-content-between">
  <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="searchQuery.keyword" />

      <p-dropdown [options]="listTotalPage" [(ngModel)]="searchQuery.page" optionLabel="name"></p-dropdown>
  </span>
  <button mat-button (click)="openDialog()">Open form</button>
</div>
<div class="card">
  <p-table [value]="vouchers" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 10%;">STT</th>
              <th (click)="sortByName()" style="width: 10%;cursor: pointer;">Tên <i [ngClass]="iconSortName"></i></th>
              <th style="width: 10%;">Mã</th>
              <th style="width: 10%;">Chiết Khấu</th>
              <th style="width: 10%;">Hình Thức Giảm Giá</th>
              <th style="width: 10%;">Thời Gian Bắt Đầu</th>
              <th style="width: 10%;">Thời Gian Kết Thúc</th>
              <th style="width: 10%;">Mô Tả</th>
              <th style="width: 10%;">Trạng thái</th>
              <th style="width: 10%;"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-voucher let-rowIndex="rowIndex">
          <tr>
              <td>
                  {{
                  vouchers.indexOf(voucher) +
                  1 +
                  searchQuery.pageSize * (searchQuery.page - 1)
                  }}
              </td>
              <td>{{ voucher.ten}}</td>
              <td>{{ voucher.ma}}</td>
              <td>{{ voucher.chietKhau}}</td>
              <td>{{ voucher.hinhThucGiamGia?'Tiền Mặt':'Phần Trăm' }}</td>
              <td>{{ voucher.thoiGianBatDau | date:'short'}}</td>
              <td>{{ voucher.thoiGianKetThuc | date:'short'}}</td>
              <td>{{ voucher.moTa}}</td>
              <!-- <td>{{ voucher.trangThai?'Đang Diễn Ra':'Kết Thúc' }}</td> -->
              <td>
                {{
                  voucher.trangThai === 0 ? 'kết thúc' :
                  voucher.trangThai === 1 ? 'Đang diễn ra' :
                  voucher.trangThai === 2 ? 'Sắp diễn ra' :
                  'Trạng Thái Khác'
                }}
              </td>

              <td>
                  <span (click)="openDialogEdit(voucher)">
                      <i class="pi pi-file-edit"></i>
                  </span>
                  <span (click)="openDialogDelete(voucher)">
                      <i class="pi pi-delete-left"></i>
                  </span>
              </td>
          </tr>
      </ng-template>
  </p-table>
  <div>
      <div class="d-flex justify-content-end gap-1">
          <p-dropdown (onChange)="onPageChange()" [options]="listTotalPage"
              [(ngModel)]="searchQuery.page"></p-dropdown>

          <div class="button-pagination" (click)="getAll( 'prev')">
              <i class="pi pi-angle-left"></i>
          </div>
          <div class="button-pagination" (click)="getAll( 'next')">
              <i class="pi pi-angle-right"></i>
          </div>
      </div>
  </div>
</div>
