<div class="stats">
  <div *ngIf="dataHeaderStat" class="stats-header">
    <div class="stats-header__box">
      <div class="stats-header__box-header">
        <h3>Tổng doanh thu</h3>
      </div>
      <div class="ps-1 text-center">
        <span>{{dataHeaderStat.tongDoanhThu | vnd}}</span>
      </div>
    </div>

    <div class="stats-header__box">
      <div class="stats-header__box-header">
        <h3>Doanh thu Trung bình</h3>
      </div>
      <div class="ps-1 text-center">
        <span>{{dataHeaderStat.tbTongDoanhThu| vnd}}</span>
      </div>
    </div>

    <div class="stats-header__box">
      <div class="stats-header__box-header">
        <h3>Tổng đơn hàng</h3>
      </div>
      <div class="ps-1 text-center  ">
        <span>{{dataHeaderStat.tongDonHang}}</span>
      </div>
    </div>
  </div>
</div>