<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã hóa đơn</th>
                    <th scope="col">Nhân viên</th>
                    <th scope="col">Khách hàng</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{invoice.maHoaDon}}</td>
                    <td *ngIf="invoice.nhanVien === null"></td>
                    <td *ngIf="invoice.nhanVien !== null">{{invoice.nhanVien.hoTen}}</td>
                    <td>{{invoice.tenKhachHang}}</td>
                    <td>{{invoice.soDienThoai}}</td>
                    <td>{{invoice.tongTienSauGiam + invoice.phiVanChuyen | vnd}}</td>
                    <td>{{invoice.ngayTao}}</td>
                    <td *ngIf="invoice.trangThai === 1">Hoàn thành</td>
                    <td *ngIf="invoice.trangThai === 2">Chờ xác nhận</td>
                    <td *ngIf="invoice.trangThai === 3">Chờ lấy hàng</td>
                    <td *ngIf="invoice.trangThai === 4">Đang giao hàng</td>
                    <td *ngIf="invoice.trangThai === 5">Đã giao hàng</td>
                    <td *ngIf="invoice.trangThai === 6">Đã hủy</td>
                    <td *ngIf="invoice.trangThai === null"></td>
                    <td>
                        <button class="btn btn-primary" style="font-size: 0.8rem" (click)="redirectToDetail(invoice.id)">Chi tiết</button>
                        <button class="btn btn-success ms-1" style="font-size: 0.8rem">Hoàn thành</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" *ngIf="invoices !== undefined">
        <div class="col-2"></div>
        <div class="col-4">
            <div>
                <div class="d-flex justify-content-end gap-1">
                    <div class="button-pagination" (click)="getAll('prev')">
                        <i class="pi pi-angle-left" style="font-size: 2rem"></i>
                    </div>
                    <h2>{{searchQuery.page}}</h2>
                    <div class="button-pagination" (click)="getAll('next')">
                        <i class="pi pi-angle-right" style="font-size: 2rem"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>

</div>