<br>
<div class="d-flex justify-content-between">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="searchQuery.keyword" (keyup.enter)="searchByName()" />
    </span>
    <button mat-button (click)="openDialog()">Thêm</button>

</div>
<br>
<div class="card">
    <p-table [value]="origins" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 20%;">STT</th>
                <th (click)="sortByName()" style="width: 30%;cursor: pointer;">Tên <i [ngClass]="iconSortName"></i></th>
                <th style="width: 30%;">Trạng thái</th>
                <th style="width: 20%;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-origin let-rowIndex="rowIndex">
            <tr>
                <td>{{ origins.indexOf(origin) + 1 + searchQuery.pageSize *
                    (searchQuery.page - 1) }}</td>
                <td>{{ origin.ten }}</td>
                <td>{{ origin.trangThai?'Hoạt động':'Kh hoạt động' }}</td>
                <td>
                    <span (click)="openDialogEdit(origin)">
                        <i class="pi pi-file-edit"></i>
                    </span>
                    <span (click)="openDialogDelete(origin)">
                        <i class="pi pi-delete-left"></i>
                    </span>
                </td>
                <!-- <td>
                    <mat-slide-toggle [(ngModel)]="origin.trangThai">{{origin.trangThai}}
                    </mat-slide-toggle>
                </td> -->
            </tr>
        </ng-template>

    </p-table>
    <div>

        <div class="d-flex justify-content-end gap-1">
            <p-dropdown (onChange)="onPageChange()" [options]="listTotalPage"
                [(ngModel)]="searchQuery.page"></p-dropdown>

            <div class="button-pagination" (click)="getAll('prev')">
                <i class="pi pi-angle-left"></i>
            </div>
            <div class="button-pagination" (click)="getAll('next')">
                <i class="pi pi-angle-right"></i>
            </div>
        </div>
    </div>
</div>