<main>
  <!-- <div class="mt-5 mb-2">Home/Product</div> -->
  <p-breadcrumb class="max-w-full mt-5 mb-2" [model]="items" [home]="home"></p-breadcrumb>
  <div class="bg-info p-5 banner">
    <h1>PRODUCT</h1>
  </div>
  <div class="row my-3">
    <div class="col-xl-3">
      <h3 class="my-3">SHOP BY</h3>
      <div>
        <h3>PRICE</h3>
        <div class="d-flex justify-content-between">
          <h5 class="">{{ rangeValues[0] }}</h5>
          <h5 class="">{{ rangeValues[1] }}</h5>
        </div>
        <p-slider [(ngModel)]="rangeValues" [min]="minPrice" [max]="maxPrice" [range]="true"
          (onSlideEnd)="filter()"></p-slider>
      </div>
      <div class="my-3">
        <h3>Màu sắc</h3>
        <div class="flex flex-column gap-2">
          <div *ngFor="let color of colors" class="field-checkbox">
            <p-checkbox (onChange)="filter()" name="color" [label]="color.ten" [value]="color.id"
              [(ngModel)]="query.color" [inputId]="color.key"></p-checkbox>
            <label [for]="color.key">{{ color.name }}</label>
          </div>
        </div>
      </div>
      <div class="my-3">
        <h3>Xuất xứ</h3>
        <div class="flex flex-column gap-2">
          <div *ngFor="let origin of origins" class="field-checkbox">
            <p-checkbox (onChange)="filter()" name="origin" [label]="origin.ten" [value]="origin.id"
              [(ngModel)]="query.origin" [inputId]="origin.key"></p-checkbox>
            <label [for]="origin.key">{{ origin.name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9">
      <div class="sort d-flex justify-content-end gap-3">
        <span class="d-flex align-items-center">Sort by</span>
        <div>
          <select onchange="sortBy($event)" name="sortBy" class="form-select">
            <option value="0">Name asc</option>
            <option value="1">Name desc</option>
            <option value="2">Price asc</option>
            <option value="3">Price desc</option>
          </select>
        </div>
      </div>
      <div class="list-product mt-2">
        <div class="product-item" *ngFor="let product of products;let i = index">
          <a href="#">
            <img src="{{product.anhChinh}}" alt="">
          </a>
          <div class="product-content">
            <a href="#">
              <h4>{{product.ten}}</h4>
            </a>
            <span>Khoảng giá</span>
          </div>
        </div>
        <div>
          <div class="d-flex justify-content-end gap-1">
            <p-dropdown (onChange)="onPageChange()" [options]="listTotalPage" [(ngModel)]="query.page"></p-dropdown>

            <div class="button-pagination" (click)="getAll('prev')">
              <i class="pi pi-angle-left"></i>
            </div>
            <div class="button-pagination" (click)="getAll('next')">
              <i class="pi pi-angle-right"></i>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>