<main>
  <!-- <div class="mt-5 mb-2">Home/Product</div> -->
  <p-breadcrumb class="max-w-full mt-5 mb-2" [model]="items" [home]="home"></p-breadcrumb>
  <div class="bg-info p-5 banner">
    <h1>PRODUCT</h1>
  </div>
  <div class="row my-3">
    <div class="col-xl-3">
      <h3 class="my-3">SHOP BY</h3>
      <div>
        <h3>PRICE</h3>
        <div class="d-flex justify-content-between">
          <h5 class="">{{ rangeValues[0] }}</h5>
          <h5 class="">{{ rangeValues[1] }}</h5>
        </div>
        <p-slider [(ngModel)]="rangeValues" [min]="0" [max]="10000000" [range]="true"
          (onSlideEnd)="getData()"></p-slider>
      </div>
      <div class="my-3">
        <h3>COLOR</h3>
        <div class="form-group">
          <input *ngFor="let o; of" type="checkbox" name="" id="" />
          <label for=""></label>
        </div>
      </div>
    </div>
    <div class="col-xl-9">
      <div class="sort d-flex justify-content-end gap-3">
        <span class="d-flex align-items-center">Sort by</span>
        <div>
          <select onchange="sortBy($event)" name="sortBy" class="form-select">
            <option value="0">Name asc</option>
            <option value="1">Name desc</option>
            <option value="2">Price asc</option>
            <option value="3">Price desc</option>
          </select>
        </div>
      </div>
      <div class="list-product">
        <div class="product-item" *ngFor="let product of products;let i = index">
          <img src="/assets/image/product/{{product.anhChinh}}" alt="">
          <div class="product-content">
            <h4>{{product.ten}}</h4>
            <span>Khoảng giá</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>