<button mat-raised-button (click)="addTab()">Tạo hóa đơn</button>
<!-- <button>QR Code sản phẩm</button> -->
<br>
<br>

<mat-tab-group>
    <mat-tab *ngFor="let tab of tabs; let i = index" label="{{ tab }}">
        <ng-template mat-tab-label class="test">
            <div class="tab-label-container">
                <span>{{ tab }}</span>
                <button mat-icon-button (click)="removeTab(tab)" class="close-button">
                    <mat-icon aria-label="Xóa" class="close-icon">close</mat-icon>
                </button>
            </div>
        </ng-template>

        <p>Nội dung của {{ tab }}</p>
        <!-- Bổ sung vào template của component -->
        <input type="text" name="productCode" [(ngModel)]="productCode.ma" placeholder="Tìm kiếm sản phẩm" width="300px"
            required>
        <button type="submit" (click)="searchProductByKeyword()">Tìm kiếm</button>

        <div *ngIf="searchResult">
            <table>
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá bán</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ searchResult.ma }}</td>
                        <td>{{ searchResult.sanPham?.ten }}</td>
                        <td>{{ searchResult.soLuong }}</td>
                        <td>{{ searchResult.giaBan }}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div *ngIf="errorMessage">{{ errorMessage }}</div> -->


        <br>
        <div class="text-container">
            <span class="left-text">Giỏ hàng</span>
            <span class="right-text">Thông tin đơn hàng</span>
        </div>

        <br>
        <!-- <br> -->
        <mat-grid-list cols="2" rowHeight="2:1">

            <mat-grid-tile>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Mã HD </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Mã SP </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>

                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Đơn giá</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- <i class="material-icons">highlight_remove</i> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </mat-grid-tile>
            <br>

            <mat-grid-tile class="test">
                <form class="form-test">
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Search:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                placeholder="search by phone or email">
                        </div>
                        <div class="col">
                            <label class="form-label">Khách hàng:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <!-- <div class="mb-3">
                        <label class="form-label">Mã HĐ:</label>
                        <input type="text" class="form-control" id="exampleInputHD">
                    </div> -->

                    <!-- <div class="mb-3">
                        <label class="form-label">Mã HĐ:</label>
                        <input type="text" class="form-control" [id]="'exampleInputHD_' + i"
                            [value]="currentInvoiceCodes[i]">
                    </div> -->

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Người bán:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col">
                            <label class="form-label">SĐT:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Phương thức thanh toán:</label>
                            <select class="form-select" aria-label="Default select example" style="width: 223px;">
                                <option value="1">Tiền mặt</option>
                                <option value="2">Online</option>
                            </select>
                        </div>

                        <div class="col" id="a">
                            <div class="input-group">
                                <label class="form-label">Tổng tiền sản phẩm:</label>
                                <input type="text" class="form-control" id="input-money"
                                    aria-label="Dollar amount (with dot and two decimal places)">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Phương thức mua hàng:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col" id="a">
                            <div class="input-group">
                                <label class="form-label">Khuyến mãi:</label>
                                <input type="text" class="form-control" id="input-money"
                                    aria-label="Dollar amount (with dot and two decimal places)">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
            </mat-grid-tile>

            <!-- <div class="text-container">
                <span>Danh sách sản phẩm</span>
            </div>
            <mat-grid-tile class="grid-3">

                <div class="card">
                    <p-table [value]="ctsps" [tableStyle]="{ 'min-width': '30rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 5%;">Mã SP</th>
                                <th style="width: 15%;">Tên SP </th>
                                <th style="width: 5%;">Kích cỡ </th>
                                <th style="width: 5%;">Màu sắc</th>
                                <th style="width: 10%;">Giá bán</th>
                                <th style="width: 5%;">Số lượng</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ctsp let-rowIndex="rowIndex">
                            <tr>
                            
                                <td>{{ ctsp.ma }}</td>
                                <td>{{ ctsp.sanPham?.ten }}</td>
                                <td>{{ ctsp.kichCo?.size }}</td>
                                <td>{{ ctsp.mauSac?.ten }}</td>
                                <td>{{ ctsp.giaBan }}</td>
                                <td>{{ ctsp.soLuong }}</td>

                            </tr>
                        </ng-template>
                    </p-table>
            
                </div>

            </mat-grid-tile> -->

            <!-- ô số 2 -->


        </mat-grid-list>

    </mat-tab>
</mat-tab-group>