<button class="createOrder" mat-raised-button (click)="addTab()">Tạo hóa đơn</button>
<!-- <button (click)="exportPDF()">Xuất PDF</button> -->

<br>
<br>

<mat-tab-group (selectedTabChange)="onTabChange($event)" class="buttonTab">

    <mat-tab *ngFor="let tab of tabs; let i = index" label="{{ tab }}" class="buttonTab1">
        <ng-template mat-tab-label class="test">
            <div class="tab-label-container">
                <span>{{ tab }}</span>
                <button mat-icon-button (click)="removeTab(tab)" class="close-button">
                    <mat-icon aria-label="Xóa" class="close-icon">close</mat-icon>
                </button>
            </div>
        </ng-template>

        <!-- <p>Nội dung của {{ tab }}</p> -->
        <div class="sales-header d-flex justify-content-between">

            <div class="sales-header_search">
                <input type="text" name="productCode" [(ngModel)]="productCode.ma" placeholder="Tìm kiếm sản phẩm"
                    width="300px" required (keypress)="onKeyPress($event)">
                <button type="submit" (click)="searchProductByKeyword()">
                    <span class="pi pi-search"></span>
                </button>
            </div>


            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-primary" (click)="showQRCode()">Open qr code</button>
            </div>
        </div>

        <div class="qr-container" *ngIf="isShowQrCode">
            <div class="d-flex justify-content-center mt-5">
                <ngx-scanner-qrcode #action="scanner" [config]="config"
                    (event)="onEvent($event, action)"></ngx-scanner-qrcode>
            </div>
            <!-- loading -->
            <p *ngIf="action.isLoading">⌛ Loading...</p>
            <!-- Thêm phần hiển thị kết quả -->
            <div *ngIf="showQuantityInput">
                <label for="quantity">Nhập số lượng:</label>
                <input type="number" [(ngModel)]="quantity" placeholder="Nhập số lượng" class="form-control"
                    style="width: 300px;" />
                <br>
                <button class="btn btn-outline-primary" (click)="addToCartFromQR(searchResults, quantity)">Xác nhận
                    thêm</button>
            </div>
            <div *ngIf="result">
                <h2>Success!</h2>
                <p><a href="{{ result }}">{{ result }}</a></p>
            </div>

            <!-- <div *ngIf="showQuantityForm">
            <h3>Nhập số lượng sản phẩm: {{ productInfo.chiTietSanPham.tenSanPham }}</h3>
            <input type="number" [(ngModel)]="quantity" placeholder="Nhập số lượng" />
            <button (click)="addToCartWithQuantity()">Thêm vào hóa đơn chi tiết</button>
            </div> -->
            <!-- start/stop -->
            <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
                [disabled]="action.isLoading" (click)="handle(action, action.isStart ? 'stop' : 'start')">
                <img [src]="action.isStart ? 'https://id1945.github.io/images/svg/camera-off.svg' : 'https://id1945.github.io/images/svg/camera-on.svg'"
                    width="30px" />
            </button>

            <!-- play/pause -->
            <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
                [disabled]="!action.isStart" (click)="handle(action, action.isPause ? 'play' : 'pause')"
                *ngIf="!result">
                <!-- Thêm điều kiện để ẩn nút khi đã có kết quả -->
                <img [src]="action.isPause ? 'https://id1945.github.io/images/svg/play.svg': 'https://id1945.github.io/images/svg/pause.svg'"
                    width="30px" />
            </button>
            <!-- <button (click)="startScanning()">Quét mã QR</button> -->
            <button (click)="turnOfQRCode()" class="btn btn-outline-primary">Tắt mã QR</button>



        </div>

        <br>
        <div>
            <table table-hover>
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Màu sắc</th>
                        <th>Kích cỡ</th>
                        <th>Số lượng</th>
                        <th>Giá bán</th>
                        <th></th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let searchResult of searchResults[tab]">
                        <td>{{ searchResult.ma }}</td>
                        <td>{{ searchResult.sanPham?.ten }}</td>
                        <td>
                            <img src="{{searchResult.sanPham?.anhChinh}}" style="width: 60px; height: 75px;">
                        </td>
                        <td>{{ searchResult.mauSac?.ten }}</td>
                        <td>{{ searchResult.kichCo?.size }}</td>
                        <td>{{ searchResult.soLuong }}</td>
                        <td>{{ searchResult.giaBan }}</td>
                        <td>
                            <button mat-icon-button (click)="addToCart(searchResult)">
                                <i class="material-icons">shopping_cart_checkout</i>
                            </button>
                        </td>
                        <!-- <td>
                                <i class="material-icons">highlight_remove</i>
                            </td> -->
                    </tr>
                </tbody>
            </table>
        </div>

        <br>
        <div class="text-container">
            <span class="left-text">Giỏ hàng</span>
            <span class="right-text">Thông tin đơn hàng</span>
        </div>

        <br>
        <mat-grid-list cols="2" rowHeight="2:1">

            <!-- <mat-grid-tile>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mã HĐ</th>
                            <th scope="col">Mã SP</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chiTiet of hoaDonChiTiet[selectedTab]">
                            <td>{{ chiTiet.chiTietSanPham?.ma }}</td>
                            <td>{{ chiTiet.chiTietSanPham?.sanPham?.ten }}</td>
                            <td>
                                <input type="number" [(ngModel)]="newSoLuong" (ngModelChange)="onUpdate(chiTiet)"
                                    style="width: 100px;" />
                            </td>
                            <td>{{ chiTiet.donGia }}</td>
                            <td>
                                <button mat-icon-button (click)="removeItemFromInvoice(chiTiet.id)">
                                    <mat-icon aria-label="Xóa khỏi hóa đơn">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-grid-tile> -->


            <mat-grid-tile>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã SP</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Thành tiền</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chiTiet of hoaDonChiTiet[selectedTab]">
                            <td>{{ chiTiet.chiTietSanPham?.ma }}</td>
                            <td>{{ chiTiet.chiTietSanPham?.sanPham?.ten }}</td>
                            <!-- <td>{{ chiTiet.soLuong }}</td> -->
                            <button mat-icon-button (click)="decreaseQuantity(chiTiet)">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <!-- <input type="number" [(ngModel)]="chiTiet['soLuong']" (ngModelChange)="onUpdate(chiTiet)" /> -->
                            <td>
                                {{ chiTiet['soLuong'] }}
                            </td>

                            <button mat-icon-button (click)="increaseQuantity(chiTiet)">
                                <mat-icon>add</mat-icon>
                            </button>

                            <td>{{ chiTiet.donGia }}</td>
                            <td>
                                <button mat-icon-button (click)="removeItemFromInvoice(chiTiet.id)">
                                    <mat-icon aria-label="Xóa khỏi hóa đơn">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-grid-tile>

            <br>

            <mat-grid-tile class="test">
                <form class="form-test">
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Search:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                placeholder="search by phone or email">
                        </div>
                        <div class="col">
                            <label class="form-label">Khách hàng:</label>
                            <!-- <input type="text" class="form-control"> -->
                            <input type="text" class="form-control" [value]="currentCustomerName" disabled>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mã HĐ:</label>
                        <input type="text" class="form-control" [id]="'exampleInputHD_' + i"
                            [value]="currentInvoiceCodes[i]" disabled>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Người bán:</label>
                            <input type="text" class="form-control" [value]="staffName" disabled>

                        </div>

                        <div class="col">
                            <label class="form-label">SĐT:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Phương thức thanh toán:</label>
                            <select class="form-select" aria-label="Default select example" style="width: 223px;"
                                [(ngModel)]="selectedPaymentMethod" name="paymentMethod"
                                [ngModelOptions]="{standalone: true}">
                                <option value="0">Tiền mặt</option>
                                <option value="1">Online</option>
                            </select>

                        </div>

                        <div class="col" id="a">
                            <div class="input-group">
                                <label class="form-label">Tổng tiền sản phẩm:</label>
                                <input type="text" class="form-control" [value]="totalAmount" id="input-money"
                                    aria-label="Dollar amount (with dot and two decimal places)" disabled>
                                <!-- <input type="text" class="form-control" id="input-money"
                                    aria-label="Dollar amount (with dot and two decimal places)"> -->
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="col" id="a">
                            <div class="input-group">
                                <label class="form-label">Khuyến mãi:</label>
                                <input type="text" class="form-control" id="input-money"
                                    aria-label="Dollar amount (with dot and two decimal places)">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        <!-- <input type="text" class="form-control" id="input-money"> -->

                        <div class="col">
                            <button (click)="notificationInvoice(idHoaDon,IHoaDon)" class="btn btn-primary">Thanh
                                toán</button>
                        </div>

                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
            </mat-grid-tile>

        </mat-grid-list>

    </mat-tab>
</mat-tab-group>