/* Container styles */
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Form field styles */
.example-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.mat-select {
  background-color: #fff; /* Màu nền mat-select */
  border: 1px solid #ddd; /* Viền mat-select */
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-option {
  padding: 10px;
}

.mat-option:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
}

.mat-label {
  font-size: 14px; /* Kích thước font cho label */
  color: #333; /* Màu chữ cho label */
}

/* Button styles */
.mat-button,
.mat-flat-button,
.button-pagination {
  background-color: #3498db; /* Màu nền button */
  color: #fff; /* Màu chữ button */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mat-button:hover,
.mat-flat-button:hover,
.button-pagination:hover {
  background-color: #2980b9; /* Màu nền button khi hover */
  transform: scale(1.05); /* Hiệu ứng nhỏ khi hover */
}

/* Card styles */
.card {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table styles */
p-table {
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5; /* Màu nền header */
}

/* Pagination styles */
.button-pagination {
  font-size: 18px;
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 767px) {
  .d-flex {
    flex-direction: column;
  }

  .col-4,
  .col-6 {
    width: 100%;
    margin-bottom: 10px;
  }

  .sizesss {
    width: 100%;
  }
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.search-input {
  flex: 1;
}

.p-input-icon-left {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

input {
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: left;
  width: 300px;
}