/* Add this SCSS to your stylesheet */

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-4 {
  width: 25%; /* Adjust the width as needed */
}

.sizesss {
  width: 50%; /* Adjust the width as needed */
}

.row {
  display: flex;
  gap: 10px;
}

.col {
  flex: 1;
}

.example-form-field {
  width: 100%;
}

.fontsize {
  font-size: 16px;
}

/* Style for buttons in the last column */
/* Add this SCSS to your stylesheet */

.col-2 {
  display: flex;
  gap: 10px;
}

.mat-button,
.mat-flat-button {
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-button:hover,
.mat-flat-button:hover {
  background-color: #2980b9; /* Button background color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

/* Add this SCSS to your stylesheet */

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
}

.p-input-icon-left {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

input {
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: left;
}

.dropdown-container {
  margin-left: 10px;
}



