<div class="d-flex justify-content-between">
  <div class="col-4">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="searchQuery.keyword" />
      <p-dropdown [options]="listTotalPage" [(ngModel)]="searchQuery.page" optionLabel="name"></p-dropdown>
  </span>
  </div>

<div class="col-6 sizesss">
<div class="row">
  <div class="col">
    <mat-form-field class="example-form-field">
      <mat-label class="fontsize">Lọc Sản Phẩm</mat-label>
      <mat-select [(ngModel)]="selectedProduct" (selectionChange)="filterByProduct()">
          <mat-option [value]="null">select Product</mat-option>
          <mat-option *ngFor="let products of product" [value]="products.id">{{products.ten}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div class="col">
   <mat-form-field class="example-form-field">
  <mat-label class="fontsize">Lọc kích Cỡ</mat-label>
  <mat-select [(ngModel)]="selectedSize" (selectionChange)="filterBySize()">
      <mat-option [value]="null">select size</mat-option>
      <mat-option *ngFor="let sizes of size"
      [value]="sizes.id">{{sizes.size}}</mat-option>
  </mat-select>
</mat-form-field></div>
<div class="col">
  <mat-form-field class="example-form-field">
 <mat-label class="fontsize">Lọc Màu Sắc</mat-label>
 <mat-select [(ngModel)]="selectedColor" (selectionChange)="filterByColors()">
     <mat-option [value]="null">Chọn Màu</mat-option>
     <mat-option *ngFor="let colors of color"
     [value]="colors.id">{{colors.ten}}</mat-option>
 </mat-select>
</mat-form-field></div>
</div>


</div>

<div class="col-2">
  <button mat-button (click)="openDialog()">Thêm CT Sản Phẩm</button>
</div>



</div>





<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('active')" [class.active]="activeTab === 'active'" href="#">Hoạt Động</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeTab('inactive')" [class.active]="activeTab === 'inactive'" href="#">Không Hoạt Động</a>
  </li>
</ul> -->

<!-- <div *ngIf="activeTab === 'active'"> -->

<div class="card">
  <p-table [value]="productsDetails" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="">STT</th>
        <th  style="">Mã </th>
        <th style="">Sản Phẩm</th>
        <th style="">Giá</th>
        <th style="">Màu Sắc</th>
        <th style="">Kích Cỡ</th>

        <th style="">Chất Liệu Giày</th>
        <th style="">Chất Liệu Đế Giày</th>
        <th style="">Số Lượng</th>
        <th style="">Trạng Thái</th>
            <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr>
        <td>
          {{
            productsDetails.indexOf(product) +
              1 +
              searchQuery.pageSize * (searchQuery.page - 1)
          }}
        </td>
        <td>{{ product.ma }}</td>
        <td>{{ product.sanPham?.ten }}</td>
        <td>{{ product.giaBan }}</td>
        <td>{{ product.mauSac?.ten }}</td>
        <td>{{ product.kichCo?.size }}</td>

        <td>{{ product.chatLieuGiay?.ten }}</td>
        <td>{{ product.chatLieuDeGiay?.ten }}</td>
        <td>{{ product.soLuong }}</td>
        <td>{{ product.trangThai === 1 ? 'Hoạt động' : 'Không hoạt động' }}</td>
        <td>
          <span (click)="openDialogEdit(product)">
              <i class="pi pi-file-edit"></i>
          </span>
          <span (click)="openDialogDelete(product)">
              <i class="pi pi-delete-left"></i>
          </span>
      </td>

      </tr>
    </ng-template>
  </p-table>
  <div>
    <div class="d-flex justify-content-end gap-1">
      <div class="button-pagination" (click)="getAll('prev')">
        <i class="pi pi-angle-left"></i>
      </div>
      <div class="button-pagination" (click)="getAll('next')">
        <i class="pi pi-angle-right"></i>
      </div>
    </div>
  </div>
</div>

