.stats-header {
    display: flex;
    justify-content: space-between;

    .stats-header__box {
        border-radius: 5px;
        border: 1px solid black;
        height: 100px;

        .stats-header__box-header {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background: rgb(199, 191, 191);

            h3 {
                padding: 5px 30px;
            }
        }
    }
}

.stats-body {
    .stats-body_search {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}